*,
*:before,
*:after {
    box-sizing: border-box !important;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0 none;
    transition: all ease 0.4s;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Fjalla One", sans-serif;
    font-size: 18px;
    background: RGBA(0, 58, 97, 1);
}

h1 {
    padding-top: 40px;

    color: #ccc;
    text-align: center;
    font-size: 1.8rem;

    text-shadow: rgba(0, 0, 0, 0.6) 1px 0, rgba(0, 0, 0, 0.6) 1px 0,
        rgba(0, 0, 0, 0.6) 0 1px, rgba(0, 0, 0, 0.6) 0 1px;
}

.nav {
    margin: 20px auto;
    width: 455px;
    min-height: auto;
}

.nav ul {
    position: relative;
    padding-top: 20px;
    margin: 0px auto;
}

.nav li {
    position: relative;
    padding: 20px 0;
    float: left;

    text-align: center;
    list-style-type: none;
}

.nav li::before,
.nav li::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 20px;
    border-top: 1px solid #ccc;
}

.nav li::after {
    left: 50%;
    right: auto;

    border-left: 1px solid #ccc;
}

.nav li:only-child::after,
.nav li:only-child::before {
    content: "";
    display: none;
}

.nav li:only-child {
    padding-top: 0;
}
.nav li:first-child::before,
.nav li:last-child::after {
    border: 0 none;
}

.nav li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.nav li:first-child::after {
    border-radius: 5px 0 0 0;
}
.nav ul ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.nav li a {
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    text-transform: uppercase;
    color: #ccc;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
}
/* ----------------------------------------------------------- */

#flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.small-image {
    width: 80px;
    height: auto;
}

.kanan p {
    margin: 0; /* Menghilangkan margin default */
}

/* ------------------------------------------------------------ */

.nav li a:hover,
.nav li a:hover + ul li a {
    color: #000;
    background: #c8e4f8;
    border: 1px solid #94a0b4;
}

.nav li a:hover + ul li::after,
.nav li a:hover + ul li::before,
.nav li a:hover + ul::before,
.nav li a:hover + ul ul::before {
    content: "";
    border-color: #94a0b4;
}
