/* Custom CSS for modal */
.modal-content {
    border-radius: 20px; /* Membuat sudut modal membulat */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk modal */
    background-color: #fff; /* Warna latar belakang modal */
}

.modal-header {
    background-color: #5c5f63; /* Warna latar belakang header */
    border-bottom: none; /* Menghilangkan garis bawah header */
}

.modal-title {
    color: #fff; /* Warna teks judul */
    font-family: "Arial", sans-serif; /* Gaya font judul */
}

.modal-body {
    padding: 20px; /* Padding di dalam modal */
    font-family: "Roboto", sans-serif; /* Gaya font isi modal */
    color: #333; /* Warna teks isi modal */
}

.modal-footer {
    border-top: none; /* Menghilangkan border atas footer */
    background-color: #f0f0f0; /* Warna latar belakang footer */
}

.btn-secondary {
    background-color: #888; /* Warna tombol Close */
    color: #fff; /* Warna teks tombol Close */
}

.btn-secondary:hover {
    background-color: #666; /* Warna tombol Close saat dihover */
}

/* -------------------------------------------------------------------------- */
/* Custom CSS for node-link */
.node-link {
    text-decoration: none; /* Menghilangkan garis bawah */
    color: #000000; /* Warna teks */
}

.node-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff; /* Warna latar belakang */
    border: 1.2px solid #000000; /* Tepi dengan border */
    border-radius: 10px; /* Membuat sudut membulat */
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0); /* Efek bayangan */
    transition: background-color 0.3s, transform 0.3s; /* Transisi warna latar belakang dan transformasi */
}

.node-content:hover {
    background-color: #afb0b1; /* Warna latar belakang saat dihover */
    transform: scale(1.05); /* Efek zoom saat dihover */
}

.role {
    font-weight: bold;
    font-size: 8px;
    text-align: center;
    font-family: "Roboto", sans-serif; /* Gaya font */
    color: #000000; /* Warna teks */
    text-transform: uppercase; /* Mengubah teks menjadi huruf kapital */
}

.col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center {
    flex-direction: column !important; /* Menampilkan gambar di atas teks */
    text-align: center !important; /* Teks diatur ke tengah */
}

.col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center img {
    margin-bottom: 15px !important; /* Jarak antara gambar dan teks */
}

.col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center > div h1{
    text-align: center !important;
}







/* ------------------------------------------------------------------------- */
@media (max-width: 576px) {
    .counter-wrapper {
        max-width: 100%; /* Lebar maksimum pada perangkat seluler */
    }

    .counter-icon {
        font-size: 1.5em; /* Ukuran ikon pada perangkat seluler */
    }

    .counter {
        font-size: 18px; /* Ukuran teks counter pada perangkat seluler */
    }

    .counter-label {
        font-size: 10px; /* Ukuran teks label pada perangkat seluler */
    }
    .textketerangan {
        font-size: 12px; /* Atur ukuran font pada perangkat seluler */
    }

    .col-md-3 {
        margin-bottom: 20px;
    }



    /* Gaya untuk tampilan layar kecil, seperti perangkat seluler */
    
}
@media (max-width: 768px) {
    .textketerangan {
        margin-top: 15px !important; /* Jarak dari gambar */
        margin-left: 10px !important; /* Margin kiri yang lebih kecil */
        margin-right: 10px !important; /* Margin kanan yang lebih kecil */
        font-size: 14px !important; /* Ukuran font yang sedikit lebih kecil */
        text-align: center !important; /* Teks diatur ke tengah */
    }

    .textketeranganakreditasi {
        font-size: 18px !important;
        text-indent: 1.5em;
    }

    .textketerangandashboard {
        font-size: 18px !important;
        text-indent: 1.5em;
    }

    .row.justify-content-center {
        display: flex !important;
        flex-direction: column-reverse !important; /* Menampilkan gambar di atas teks */
        align-items: center !important; /* Gambar dan teks diatur ke tengah */
    }

    .row.justify-content-center img {
        max-width: 100% !important; /* Maksimum lebar gambar adalah lebar kontainer */
        height: auto !important; /* Lebar gambar disesuaikan proporsional dengan lebar kontainer */
        margin-bottom: 15px !important; /* Jarak antara gambar dan teks */
    }

    /* Gaya untuk tampilan layar kecil, seperti perangkat seluler */
    .col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center {
        flex-direction: column !important; /* Menampilkan gambar di atas teks */
        text-align: center !important; /* Teks diatur ke tengah */
    }

    .col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center img {
        width: 120px !important; /* Lebar gambar diatur ulang */
        height: 120px !important; /* Tinggi gambar diatur ulang */
        margin-bottom: 15px !important; /* Jarak antara gambar dan teks */
    }

    .col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center > div {
        margin-top: 15px !important; /* Jarak dari gambar ke teks */
    }

    .col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center > div h1,
    .col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center > div h2 {
        margin: 0 !important; /* Menghapus margin pada teks */
    }

    .col-xl-6.col-lg-8.d-flex.align-items-center.justify-content-center > div h2{
        display: none !important;
    }
}