.custom-border {
    border-color: #007BFF;
    border-style: solid;
    border-width: 2px;
}

.splide__slide img {
    width: 100%;
    height: auto;
}

/* Make sure the size of the image fits perfectly into the container */
img {
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}
